.button {
    -fx-text-fill: black;
    -fx-font-family:"Helvetica"; /*"Arial Narrow";*/
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#2dbc3b, #15611f);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}

.data-entry {
    -fx-padding: 5;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: #15611f;

    -fx-spacing: 10;
    -fx-alignment: center-left;
}

.data-box-title {
    -fx-font-family: "Helvetica";
    -fx-font-weight: bold;
    -fx-text-fill: #15611f;
    -fx-font-size: 16;
}

.data-box {
    -fx-accent: #2dbc3b;
    -fx-focus-color: #2dbc3b;
    -fx-cell-hover-color: #89f694;
}

.v-box {
    -fx-padding: 5;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: #15611f;

    -fx-spacing: 10;
    -fx-alignment: center;
}

.sparse-menu {
    -fx-spacing: 10;
    -fx-alignment: center;
}